---

 - name: Backup servarr config files
   hosts: docker-lxc
   become: true
   become_user: servarr
   vars:
     ansible_python_interpreter: auto_silent
     src_dir: "/media/servarr/"
     dest_dir: "/mnt/qnap/servarr/_applications/"
   tasks:
    - name: Ensure destination directory exists
      file:
        path: "{{ dest_dir }}"
        state: directory

    - name: Backup config files with permissions preserved
      synchronize:
        src: "{{ src_dir }}"
        dest: "{{ dest_dir }}"
        archive: yes
        delete: no