- hosts: docker-lxc
  vars:
    ansible_python_interpreter: auto_silent
  tasks:
    - name: Prune unused Docker images
      shell: docker image prune -a -f

    - name: Prune all unused Docker data including volumes (docker-lxc)
      shell: docker system prune --volumes --all -f
      register: prune_result

    - name: Show Docker reported reclaimed space
      debug:
        msg: "{{ prune_result.stdout | regex_search('Total reclaimed space: (.*)', '\\1') | default('No value found') }}"