---
- hosts: "{{ target_group }}"
  become: true
  vars:
    ansible_python_interpreter: auto_silent
  tasks:
    - name: Update package list
      apt:
        update_cache: yes
        upgrade: dist
      register: apt_update
      retries: 5
      delay: 30
      until: apt_update is succeeded