- hosts: docker-lxc
  vars:
    ansible_python_interpreter: auto_silent
  tasks:
    - name: Pull latest {{ service_dir }} images
      shell: docker compose -f {{ service_dir }}/docker-compose.yml pull
      args:
        chdir: "/root/docker_services"
      register: pull_result

    - name: Start {{ service_dir }} containers
      shell: docker compose -f {{ service_dir }}/docker-compose.yml up -d
      args:
        chdir: "/root/docker_services"
      register: up_result
