---
    - name: Update Proxmox nodes
      hosts: proxmox
      become: true
      gather_facts: false
      serial: 1
      tasks:
        - name: Update apt cache
          ansible.builtin.apt:
            update_cache: true
            cache_valid_time: 3600

        - name: Get upgradable packages
          ansible.builtin.shell: |
            apt list --upgradable | sed '/Listing.../d'
          register: upgrades_result

        - name: Show upgradable packages
          ansible.builtin.debug:
            msg: "{{ upgrades_result.stdout_lines }}"

        - name: Pause for confirmation before upgrade
          pause:
            prompt: Do you want to upgrade the above packages? Press enter to continue, or Ctrl+c and then 'a' to abort.
          when: upgrades_result.stdout_lines|length > 0

        - name: Install apt upgrades
          ansible.builtin.apt:
            upgrade: dist
            autoremove: true
            autoclean: true
          register: apt_upgrade_result

