---
- name: Update Proxmox nodes
  hosts: proxmox
  become: true
  gather_facts: false
  serial: 1
  tasks:
    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: true
        cache_valid_time: 3600

    - name: List upgradable packages
      ansible.builtin.shell: apt list --upgradable | sed '/Listing.../d'
      register: apt_list_upgradable_result
      changed_when: false

    - name: Show upgradable packages
      ansible.builtin.debug:
        var: apt_list_upgradable_result.stdout_lines

    - name: Install apt upgrades
      ansible.builtin.apt:
        upgrade: full
        autoremove: true
        autoclean: true

