- hosts: docker-lxc
  vars:
    ansible_python_interpreter: auto_silent
  tasks:
    - name: Pull latest {{ service_dir }} images
      shell: docker compose -f {{ service_dir }}/docker-compose.yml pull
      args:
        chdir: "/root/docker_services"
      register: pull_result

    - name: Show output of docker compose pull
      debug:
        var: pull_result.stdout

    - name: Start {{ service_dir }} containers if new images were pulled
      shell: docker compose -f {{ service_dir }}/docker-compose.yml up -d
      args:
        chdir: "/root/docker_services"
      when: pull_result.stdout is search('Downloaded newer image')
      register: up_result

    - name: Show output of docker compose up
      debug:
        var: up_result.stdout
      when:
        - up_result is defined
        - up_result is not skipped
