    - name: Show current user (whoami)
      ansible.builtin.shell: whoami
      register: whoami_result

    - name: Debug whoami
      ansible.builtin.debug:
        var: whoami_result.stdout

    - name: Show user info (id -a)
      ansible.builtin.shell: id -a
      register: id_result

    - name: Debug id -a
      ansible.builtin.debug:
        var: id_result.stdout

    - name: Show environment variables
      ansible.builtin.shell: env
      register: env_result

    - name: Debug environment variables
      ansible.builtin.debug:
        var: env_result.stdout_lines

    - name: Show apt binary location
      ansible.builtin.shell: which apt
      register: which_apt_result

    - name: Debug which apt
      ansible.builtin.debug:
        var: which_apt_result.stdout

    - name: Show apt config dump
      ansible.builtin.shell: apt-config dump
      register: apt_config_result

    - name: Debug apt config dump
      ansible.builtin.debug:
        var: apt_config_result.stdout_lines

    - name: Update Proxmox nodes
      hosts: proxmox
      become: true
      gather_facts: false
      serial: 1
      tasks:
        - name: Update apt cache
          ansible.builtin.apt:
            update_cache: true
            cache_valid_time: 3600


        - name: Get upgradable packages (raw)
          ansible.builtin.shell: apt list --upgradable
          register: upgrades_raw_result

        - name: Show upgradable packages (stdout)
          ansible.builtin.debug:
            var: upgrades_raw_result.stdout_lines

        - name: Show upgradable packages (stderr)
          ansible.builtin.debug:
            var: upgrades_raw_result.stderr_lines


        - name: Check if reboot is required
          ansible.builtin.stat:
            path: /var/run/reboot-required
          register: reboot_required_file

        - name: Show if reboot is required
          ansible.builtin.debug:
            msg: "Reboot required: {{ reboot_required_file.stat.exists }}"

        - name: Pause for confirmation before upgrade
          pause:
            prompt: Do you want to upgrade the above packages? Press enter to continue, or Ctrl+c and then 'a' to abort.
          when: upgrades_raw_result.stdout_lines|length > 1

        - name: Install apt upgrades
          ansible.builtin.apt:
            upgrade: full
            autoremove: true
            autoclean: true
          register: apt_upgrade_result

