services:
    speedtest-tracker:
        image: linuxserver/speedtest-tracker:latest
        restart: always
        container_name: speedtest-tracker
        ports:
            - 8084:80
            - 8443:443
        environment:
            - PUID=${PUID}
            - PGID=${PGID}
            - APP_KEY=${APP_KEY}
            - DB_CONNECTION=${DB_CONNECTION}
            - DB_HOST=${DB_HOST}
            - DB_PORT=${DB_PORT}
            - DB_DATABASE=${DB_DATABASE}
            - DB_USERNAME=${DB_USERNAME}
            - DB_PASSWORD=${DB_PASSWORD}
            - SPEEDTEST_SCHEDULE=${SPEEDTEST_SCHEDULE}
            - WUD_AUTH_BASIC_ADMIN_USER=${WUD_AUTH_BASIC_ADMIN_USER}
            - WUD_AUTH_BASIC_ADMIN_HASH=${WUD_AUTH_BASIC_ADMIN_HASH}
        volumes:
            - /path/to/data:/config
            - /path/to-custom-ssl-keys:/config/keys
        depends_on:
            - db
        labels:
            - 'wud.display.name=speedtest-tracker'
            - 'wud.link.template=https://github.com/linuxserver/docker-speedtest-tracker/releases/tag/$${major}.$${minor}.$${patch}'
    db:
        image: mariadb:11
        container_name: speedtest-tracker-db
        restart: always
        environment:
            - MYSQL_DATABASE=${MYSQL_DATABASE}
            - MYSQL_USER=${MYSQL_USER}
            - MYSQL_PASSWORD=${MYSQL_PASSWORD}
            - MYSQL_RANDOM_ROOT_PASSWORD=${MYSQL_RANDOM_ROOT_PASSWORD}
            - WUD_AUTH_BASIC_ADMIN_USER=${WUD_AUTH_BASIC_ADMIN_USER}
            - WUD_AUTH_BASIC_ADMIN_HASH=${WUD_AUTH_BASIC_ADMIN_HASH}
        volumes:
            - speedtest-db:/var/lib/mysql
        healthcheck:
            test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
            interval: 5s
            retries: 3
            timeout: 5s
        labels:
            - 'wud.display.name=speedtest-tracker-mariadb'
volumes:
  speedtest-db: