services:
  whatsupdocker:
    image: getwud/wud
    container_name: wud
    environment:
      - TZ=America/Toronto
      - WUD_AUTH_BASIC_ADMIN_USER=${WUD_AUTH_BASIC_ADMIN_USER}
      - WUD_AUTH_BASIC_ADMIN_HASH=${WUD_AUTH_BASIC_ADMIN_HASH}
      - WUD_AUTH_OIDC_AUTHENTIK_CLIENTID=${WUD_AUTH_OIDC_AUTHENTIK_CLIENTID}
      - WUD_AUTH_OIDC_AUTHENTIK_CLIENTSECRET=${WUD_AUTH_OIDC_AUTHENTIK_CLIENTSECRET}
      - WUD_AUTH_OIDC_AUTHENTIK_DISCOVERY=${WUD_AUTH_OIDC_AUTHENTIK_DISCOVERY}
      - WUD_AUTH_OIDC_AUTHENTIK_REDIRECT=${WUD_AUTH_OIDC_AUTHENTIK_REDIRECT}
      - WUD_REGISTRY_LSCR_PRIVATE_USERNAME=${WUD_REGISTRY_LSCR_PRIVATE_USERNAME}
      - WUD_REGISTRY_LSCR_PRIVATE_TOKEN=${WUD_REGISTRY_LSCR_PRIVATE_TOKEN}
      - WUD_REGISTRY_HUB_PUBLIC_LOGIN=${WUD_REGISTRY_HUB_PUBLIC_LOGIN}
      - WUD_REGISTRY_HUB_PUBLIC_PASSWORD=${WUD_REGISTRY_HUB_PUBLIC_PASSWORD}
      # - WUD_TRIGGER_DOCKERCOMPOSE_GRAFANA_AUTO=false
      # - WUD_TRIGGER_DOCKERCOMPOSE_GRAFANA_BACKUP=true
      # - WUD_TRIGGER_DOCKERCOMPOSE_GRAFANA_PRUNE=true
      # - WUD_TRIGGER_DOCKERCOMPOSE_GRAFANA_FILE=/root/docker_services/grafana/docker-compose.yml
      # - WUD_TRIGGER_DOCKERCOMPOSE_SEMAPHORE_AUTO=false
      # - WUD_TRIGGER_DOCKERCOMPOSE_SEMAPHORE_BACKUP=true
      # - WUD_TRIGGER_DOCKERCOMPOSE_SEMAPHORE_PRUNE=true
      # - WUD_TRIGGER_DOCKERCOMPOSE_SEMAPHORE_FILE=/root/docker_services/semaphore/docker-compose.yml
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      # - /root/docker_services/semaphore:/root/docker_services/semaphore
      # - /root/docker_services/grafana:/root/docker_services/grafana
    ports:
      - 3002:3000
    restart: unless-stopped