services:

# -----------------------------------------------------------
# Gluetun Docker Compose Configuration
# Description: VPN client for Docker containers
# -----------------------------------------------------------
  gluetun:
    image: qmcgaw/gluetun
    container_name: gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    environment:  
      - LOG_LEVEL=${LOG_LEVEL}
      - VPN_PORT_FORWARDING=${VPN_PORT_FORWARDING}
      - VPN_SERVICE_PROVIDER=${VPN_SERVICE_PROVIDER}
      - OPENVPN_USER=${OPENVPN_USER}
      - OPENVPN_PASSWORD=${OPENVPN_PASSWORD}
      - SERVER_NAMES=${SERVER_NAMES}
      - SERVER_HOSTNAMES=${SERVER_HOSTNAMES}
      - FIREWALL_OUTBOUND_SUBNETS=192.168.10.71/32    # Allow NGINX Proxy Manager IP through the VPN, Gotify

    ports:
      - 7878:7878                 # Radarr
      - 8989:8989                 # Sonarr
      - 9696:9696                 # Prowlarr
      - 8080:8080                 # qBittorrent WebUI
      - 8081:8081                 # Sabnzbd WebUI
      - 6881:6881                 # qBittorrent
      - 6881:6881/udp             # qBittorrent
      - "${PORT:-8191}:8191"      # FlareSolverr
      - 6767:6767                 # Bazarr
      - 6969:6969                 # Whisparr
    restart: always

# -----------------------------------------------------------
# Flaresolverr Docker Compose Configuration
# Description: Bypass CAPTCHAs for automated downloads
# -----------------------------------------------------------
  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    network_mode: "service:gluetun" # Uses VPN network
    environment:
      - LOG_LEVEL=${LOG_LEVEL}
      - LOG_HTML=${LOG_HTML}
      - CAPTCHA_SOLVER=${CAPTCHA_SOLVER}
      - TZ=${TZ}
    restart: always
    depends_on:
      - gluetun

# -----------------------------------------------------------
# Sabnzbd Docker Compose Configuration
# Description: Usenet download client
# -----------------------------------------------------------
  sabnzbd:
    container_name: sabnzbd
    image: ghcr.io/hotio/sabnzbd
    network_mode: "service:gluetun" # Uses VPN network
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - UMASK=${UMASK}
      - TZ=${TZ}
      - WEBUI_PORTS=8081/tcp,8081/udp
      - ARGS
    volumes:
      - /mnt/qnap/servarr/_applications/sabnzbd/config:/config
      - /mnt/qnap/servarr/usenet:/data/usenet
    restart: always
    depends_on:
      - gluetun

# -----------------------------------------------------------
# Radarr Docker Compose Configuration
# Description: Movie collection manager for automated downloads
# -----------------------------------------------------------
  radarr:
    image: ghcr.io/hotio/radarr
    container_name: radarr
    network_mode: "service:gluetun" # Uses VPN network
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - UMASK=${UMASK}
      - TZ=${TZ}
    volumes:
      - /mnt/qnap/servarr/_applications/radarr/config:/config
      - /mnt/qnap/servarr:/data
    restart: always
    depends_on:
      - gluetun

# -----------------------------------------------------------
# Sonarr Docker Compose Configuration
# Description: TV series collection manager for automated downloads
# -----------------------------------------------------------
  sonarr:
    image: ghcr.io/hotio/sonarr
    container_name: sonarr
    network_mode: "service:gluetun" # Uses VPN network
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - UMASK=${UMASK}
      - TZ=${TZ}
    volumes:
      - /mnt/qnap/servarr/_applications/sonarr/config:/config
      - /mnt/qnap/servarr:/data
    restart: always
    depends_on:
      - gluetun

# -----------------------------------------------------------
# Prowlarr Docker Compose Configuration
# Description: Indexer manager for automated downloads
# -----------------------------------------------------------
  prowlarr:
    image: ghcr.io/hotio/prowlarr
    container_name: prowlarr
    network_mode: "service:gluetun" # Uses VPN network
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - UMASK=${UMASK}
      - TZ=${TZ}
    volumes:
      - /mnt/qnap/servarr/_applications/prowlarr/config:/config
    restart: unless-stopped
    depends_on:
      - gluetun

# -----------------------------------------------------------
# Bazarr Docker Compose Configuration
# Description: Subtitle management for movies and TV shows
# -----------------------------------------------------------
  bazarr:
    image: ghcr.io/hotio/bazarr
    container_name: bazarr
    network_mode: "service:gluetun" # Uses VPN network
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - UMASK=${UMASK}
      - TZ=${TZ}
    volumes:
      - /mnt/qnap/servarr/_applications/bazarr/config:/config      
      - /mnt/qnap/servarr:/data
    restart: always
    depends_on:
      - gluetun

# -----------------------------------------------------------
# Notifiarr Docker Compose Configuration
# Description: Notification service for various events
# -----------------------------------------------------------
  notifiarr:
    container_name: notifiarr
    hostname: notifiarr
    image: golift/notifiarr
    restart: unless-stopped
    ports:
      - "5454:5454"
    volumes:
      - /mnt/qnap/servarr/_applications/notifiarr/config:/config
      - /var/run/utmp:/var/run/utmp
      - /etc/machine-id:/etc/machine-id

# -----------------------------------------------------------
# Jellyseerr Docker Compose Configuration
# Description: Media request management for Jellyfin
# -----------------------------------------------------------

  jellyseerr:
    container_name: jellyseerr
    image: ghcr.io/hotio/jellyseerr
    ports:
      - "5055:5055"
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - UMASK=${UMASK}
      - TZ=${TZ}
    volumes:
      - /mnt/qnap/servarr/_applications/jellyseerr/config:/config
    restart: always

# -----------------------------------------------------------
# Jellyfin Docker Compose Configuration
# Description: Media server for streaming movies and TV shows
# -----------------------------------------------------------
  jellyfin:
    image: ghcr.io/hotio/jellyfin
    container_name: jellyfin
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - UMASK=${UMASK}
      - TZ=${TZ}
      # Cache management settings
      - JELLYFIN_CACHE_DIR=/config/cache
      - JELLYFIN_TRANSCODING_TEMP_PATH=/config/cache/transcodes
    volumes:
      - /mnt/qnap/servarr/_applications/jellyfin/config:/config
      - /mnt/qnap/servarr:/data
    ports:
      - 8096:8096
      - 8920:8920     #optional
      - 7359:7359/udp #optional
      - 1900:1900/udp #optional
    restart: always

# -----------------------------------------------------------
# Plex Docker Compose Configuration
# Description: Media server for streaming movies and TV shows
# -----------------------------------------------------------
  plex:
    container_name: plex
    image: ghcr.io/hotio/plex
    ports:
      - "32400:32400"
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - UMASK=${UMASK}
      - TZ=${TZ}
      - PLEX_CLAIM_TOKEN=${PLEX_CLAIM_TOKEN}
      - PLEX_ADVERTISE_URL=${PLEX_ADVERTISE_URL}
      - PLEX_NO_AUTH_NETWORKS=${PLEX_NO_AUTH_NETWORKS}
      - PLEX_BETA_INSTALL=${PLEX_BETA_INSTALL}
      - PLEX_PURGE_CODECS=${PLEX_PURGE_CODECS}
    volumes:
      - /mnt/qnap/servarr/_applications/plex/config:/config
      - /mnt/qnap/servarr/_applications/plex/transcode:/transcode
      - /mnt/qnap/servarr:/data
    restart: always

# -----------------------------------------------------------
# Tautulli Docker Compose Configuration
# Description: Monitoring and tracking for Plex Media Server
# -----------------------------------------------------------
  tautulli:
    container_name: tautulli
    image: ghcr.io/hotio/tautulli
    ports:
      - "8581:8181"
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - UMASK=${UMASK}
      - TZ=${TZ}
      - WEBUI_PORTS=8181/tcp,8181/udp
    volumes:
      - /mnt/qnap/servarr/_applications/tautulli/config:/config
    restart: always